<header class="page-header">
  <!-- Top Part (Blue background with logo) -->
  <div class="header-top">
    <div class="container">
      <div class="page-header__content">
        <!-- Logo Section -->
        <div class="logo">
          <a href="/" aria-label="Go to home page">
            <img src="images/pawprint.jpg" class="logo-png" alt="FurEver Home Pet Rescue logo">
          </a>
        </div>

        <!-- Site Title -->
        <div class="site-title">
          <h1 class="site-title__main">FurEver Home</h1> 
        </div>
      </div>
    </div>
  </div>

  <!-- Bottom Part (Yellow background with Nav Bar) -->
  <div class="header-bottom">
    <div class="container">
      <div class="page-header__content">
        <!-- Navigation Bar -->
        <nav class="grid-group">
          <ul role="list" class="nav-list flex-group">
            <li><a href="/">Home</a></li>
            <li><a href="/featured-pets">Featured Pets</a></li>
            <li><a href="/supplies-list">Supplies List</a></li> 
            <li><a href="/volunteer">Volunteer</a></li> 
             <li><a href="/contact-us/">Contact Us</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>







