---
title: "Welcome to Our Pet Rescue"
layout: 'base.njk'
---

<!-- Hero Section -->
<section class="hero">
  <!-- Heading -->
  <div class="container hero__text">
    <h1 class="section-title large-text">Welcome to Our Pet Rescue!</h1>
    <p class="hero__description">
      The go-to place where you can meet your next favorite companion! We strive to give every pet a better life in a permanent loving home, and a lasting connection between you and your best furry friend.
    </p>
  </div>

  <!-- Full-width hero image -->
  <div class="hero__image-container">
    <img src="/images/side-view-rescue-dog-loving-affection-receives-from-woman-shelter.jpg" alt="Adorable puppy ready for adoption" class="hero__image">
  </div>
</section>
